* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type=number],
button {
    display: inline;
    padding: 10px;
    outline: none;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    transition: all 0.30s ease-in-out;
}

input[type=number]:focus,
button:hover {
    box-shadow: 0 0 8px #BEBEBE;
}

button {
    color: white;
    background-color: #55ACEE;
}